:root {
  --white: #ffffff;
  --primary: #d3cece;
  --secondary: #0095ff;
  --red: #ff1111;
  --green: #4ce000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  font-family: Roboto, sans-serif;
}

body {
  min-height: 100vh;
  color: var(--primary);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
